<main id="main" class="main">
    <div class="pagetitle">
       <h1>Sensors Values</h1>
       <nav>
          <ol class="breadcrumb">
             <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
             <li class="breadcrumb-item active">DataNodes</li>
          </ol>
       </nav>
    </div>
    <section class="section">
       <div class="row">
          <div class="col-lg-6">
             <div class="card">
                <div class="card-body">
                   <h5 class="card-title">Temperature</h5>
                   <canvas id="tempChart" style="max-height: 400px;"></canvas>
                </div>
             </div>
          </div>
          <div class="col-lg-6">
             <div class="card">
                <div class="card-body">
                   <h5 class="card-title">Humidity</h5>
                   <canvas id="humChart" style="max-height: 400px;"></canvas>
                
                </div>
             </div>
          </div>
       </div>
    </section>
 </main>