.container {
    display: flex;
  }
  
  .aside {
    width: 200px;
    background-color: #c3e6cb; /* Vert clair */
    padding: 10px;
  }
  
  .content {
    flex-grow: 1;
    padding: 10px;
  }
  

  